@page
@model Ass_SWD.Pages.Payment.IndexModel
@{
}
@{
    Layout = "_MainLayout";
}

<form method="get">
    <table>
        <tr>
            <td width="100">Partner</td>
            <td><input name="partner" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input style="margin-top:7px" type="submit" value="Search"</td>
        </tr>
    </table>
</form>

<h1>List Payment</h1>

<div>
    <table style="margin-top:10px" class="table table-hover mb-0 table-bordered">
        <thead>
            <tr>
                <th scope="col">PaymentID</th>
                <th scope="col">InvoiceNumber</th>
                <th scope="col">CategoryID</th>
                <th scope="col">RequiredDate</th>
                <th scope="col">PayedDate</th>
                <th scope="col">Partner</th>
                <th scope="col">DepartmentID</th>
                <th scope="col">Amount</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.payments)
            {
                <tr>
                    <td>@payment.PaymentId</td>
                    <td>@payment.InvoiceNumber</td>
                    <td>@payment.CategoryId</td>
                    <td>@payment.RequiredDate?.ToString("dd/MM/yyyy")</td>
                    <td>@payment.PayedDate?.ToString("dd/MM/yyyy")</td>
                    <td>@payment.Partner</td>
                    <td>@payment.DepartmentId</td>
                    <td>@payment.Amount</td>
                    @if (payment.Status == true)
                    {
                        <td>Done</td>
                    }
                    else
                    {
                        <td>Processing</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>